<!DOCTYPE html>
<style>
    .godown {
        padding-top: 30px;
    }

    .navbar-default {
        background-color: #eae2c9 !important;
        border: solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    }

    .btn-primary {
        background-color: #511f3c !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: none !important;
        outline: none !important;
    }


    .h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #fce1a1;
        color: #5a3d28 !important;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <div class="godown">
                        Meme & Co.
                    </div>
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserID"] == null)
                    {
                        <li class="h3"><a href="@Url.Action("Login","User")">Login</a></li>
                        <li class="h3"><a href="@Url.Action("Register","User")">Register</a></li>
                    }

                    else if (Session["UserID"] != null && Convert.ToBoolean(Session["IsAdmin"]) == false)
                    {

                        <li class="godown">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Control Panel</button>
                                <ul class="dropdown-menu">
                                    <li class="h4"><a href="@Url.Action("Detail", "User", new { id = Convert.ToInt32(Session["UserID"]) })">Account Detail</a></li>
                                    <li class="h4"><a href="@Url.Action("UserRentList", "Rent", new { id = Convert.ToInt32(Session["UserID"]) })">Rental Detail</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="h3"><a href="@Url.Action("Logout","User")">Logout</a></li>
                    }


                    else if (Session["UserID"] != null && Convert.ToBoolean(Session["IsAdmin"]) == true)
                    {
                        <li class="godown">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Control Panel</button>
                                <ul class="dropdown-menu">
                                    <li class="h4"><a href="@Url.Action("UserList", "User")">User List</a></li>
                                    <li class="h4"><a href="@Url.Action("Index", "Publisher")">Publisher List</a></li>
                                    <li class="h4"><a href="@Url.Action("Index", "Author")">Author List</a></li>
                                    <li class="h4"><a href="@Url.Action("Index", "Book")">Book List</a></li>
                                    <li class="h4"><a href="@Url.Action("Index", "Rent")">Rent List</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="h3"><a href="@Url.Action("Logout","User")">Logout</a></li>
                    }


                </ul>
            </div>

            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li class="h3"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="h3"><a href="@Url.Action("About","Home")">About Us</a></li>
                    <li class="h3"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    <li class="h3"><a href="@Url.Action("BookList","Book")">Book List</a></li>

                </ul>

            </div>
            <!--Menu End Here-->
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
