@model IEnumerable<WebApplication3.Models.BookTable>

<style>
    .godown {
        padding-top: 30px;

    }
    body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:#f0ece4;
    }
    h4{
        font-weight:bold;
    }
</style>

<h2 class="godown text-muted">BOOK SELECTION</h2>

<table class="table">
    <tr>
        <th>
            <h4>@Html.DisplayNameFor(model => model.BookStatus)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.BookDetailTable.Title)</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>Available</h4>
            </td>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.BookDetailTable.Title)</h4>
            </td>
            @if (Session["UserID"] != null)
            {
                <td>
                    <div class="btn-group-sm">
                        <input type="button" class="btn btn-primary" value="Rent" onclick="location.href='@Url.Action("Rent", "Rent", new { id = item.BookID })'" />
                        <input type="button" class="btn btn-primary" value="Detail" onclick="location.href='@Url.Action("Detail", "Book", new { id = item.BookID })'" />

                    </div>
                </td>
            }
        </tr>
    }

</table>
