@model WebApplication3.Models.UserInfoTable

@{
    ViewBag.Title = "Remove";
}

<style>
    body {
        padding-top: 100px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:#f0ece4;
    }
</style>
<body>
    <h2>REMOVE USER</h2>
</body>

<h3>Are you sure you want to remove this user ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_PhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" class="btn btn-primary" value="Back to User List" onclick="location.href='@Url.Action("UserList", "User")'" />
            <input type="submit" value="Remove" class="btn btn-primary" />
        </div>
    }
</div>
