@model WebApplication3.Models.PublisherTable

@{
    ViewBag.Title = "Detail";
}

<style>
    body {
        padding-top: 100px;
    }
</style>
<body>
    <h2>The detail of publisher</h2>
</body>
<div>
    <h4>Publisher Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublisherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
