@model IEnumerable<WebApplication3.Models.PublisherTable>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        padding-top: 100px;
    }
</style>
<body>
    <h2>Publisher list</h2>
</body>
<p>
    <input type="button" class="btn btn-primary" value="Create New Publisher" onclick="location.href='@Url.Action("Create", "Publisher")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Address)
            </td>
            <td>
                <div class="btn-group-sm">
                    <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Publisher", new { id = item.PublisherID })'" />
                    <input type="button" class="btn btn-primary" value="Detail" onclick="location.href='@Url.Action("Detail", "Publisher", new { id = item.PublisherID })'" />
                    <input type="button" class="btn btn-primary" value="Remove" onclick="location.href='@Url.Action("Remove", "Publisher", new { id = item.PublisherID })'" />
                </div>
            </td>

        </tr>
        
    }

</table>
